@font-face {
    font-family: dana;
    src: url('https://github.com/KeyhanS/kians87/raw/gh-pages/DanaFaNum-Regular.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: dana;
    src: url('https://github.com/KeyhanS/kians87/raw/gh-pages/DanaFaNum-Bold.woff') format('woff');
    font-weight: bold;
}
